#  Not used in current setup as we use premade Docker images, 
#  but here is an example .dockerignore file for incase you build your own Docker images.
# Node modules
node_modules
npm-debug.log*

# Cypress artifacts that will be generated in the container
cypress/videos
cypress/screenshots
cypress/reports

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode
.idea
*.swp
*.swo

# Git
.git
.gitignore
.gitattributes

# Docker files
docker-compose.yml
.dockerignore

# Documentation
*.md
